input {
    margin:10px;
}

#as {
    color: white;
    background-color: blue;
}

#search-bar, #search-bar-image {
    border-radius: 12px;
    font-size: large;
}

#search-buttons {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline {
    display: inline-block;
}

a {
    float: right;
}

body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

